<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add Device</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="post" action="addDevice">
        DeviceName <input type="text" name="name">
        DeviceDoes <input type="text" name="task">
        <input type="submit">Add Device</button>
    </form>
</body>
</html>