<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Automation</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <h1 >Automation Management System</h1>
    <ol>
        <li><a href="http://localhost:3000/listDevices">List Devices</a></li>
        <li><a href="http://localhost:3000/addDevice">Add Device</a></li>
        <li><a href="http://localhost:3000/removeDevice">Remove Device</a></li>
    </ol>
</body>
</html> 